<p>Your booked URL is <pre><%= root_url + "requests/#{current_user.uuid}" %></pre></p>

<hr>

<table class="table">
  <thead>
    <tr>
      <th scope="col">URL</th>
      <th scope="col">Method</th>
      <th scope="col">Body</th>
      <th scope="col">Timestamp</th>
    </tr>
  </thead>
  <tbody>
    <% if @requests.any? %>
      <% @requests.each.with_index(1) do |req, index|  %>
        <%= render req %>
      <% end %>
    <% else %>
      <tr>
        <td colspan="5">Data not found</td>
      </tr>
    <% end %>
  </tbody>
</table>